@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbf9f6;
  color: #1c1917;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e7e5e4;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
